<style>
	.container {
		padding: 1em;
	}
	ul li {
		list-style: none;
		background: #ccc;
		margin: 1em;
		cursor: pointer;
		height: 3em;
		padding: 1em;
	}
	list-view {
		margin-bottom: 2em;

	}
	.page_button {
		background:orange;
		width: 5em;
		height: 2em;
	}

	#myRestaurants {
		display:none;
	}
	#myBars {
		display:none;
	}
	#myShopping {
		display:none;
	}
</style>
<section class="homepage">
	<center><h2 class="title">The Black List</h2></center>
	<hello-world></hello-world>
	<!-- Show Video Player -->
	
	<p>lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil im</p>
	<div ng-controller="listViewController">
		<button type="submit" value="ButtonOne" ng-click="showMe('restaurants')" >Restaurants</button>
	    <div list-view list="foo in collectionOfFoos" id="myRestaurants">
	    	 {{currentPage+1}}/{{numberOfPages()}}
		       <ul style="overflow: scroll; height:200px;">
				   <li ng-repeat="foo in collectionOfFoos | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="go('/detail')"><img src='{{foo.image}}' height='50' weight='50'> {{foo.description}} </li>
			   </ul>
		</div><!-- end listView -->
		<button type="submit" value="ButtonOne" ng-click="showMe('bars')">Bars</button>
		 <div list-view list="foo in collectionOfFoos" id="myBars">
		       <ul style="overflow: scroll; height:200px;">
				   <li ng-repeat="foo in collectionOfFoos | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="go('/detail')"><img src='{{foo.image}}' height='50' weight='50'> {{foo.description}} </li>
			   </ul>
		</div><!-- end listView -->
		<p></p>
		<br/><br/>
		<button type="submit" value="ButtonTwo" ng-click="showMe('shopping')">Shopping</button>
		 <div list-view list="foo in collectionOfFoos" id="myShopping">
		       <ul style="overflow: scroll; height:200px;">
				   <li ng-repeat="foo in collectionOfFoos | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="go('/detail')"><img src='{{foo.image}}' height='50' weight='50'> {{foo.description}} </li>
			   </ul>
		</div><!-- end listView -->
		<button type="submit" value="MoreCategories" ng-click="go('/search')">More Categories</button>
</section>