<style>
	.container {
		width: 100%;
	}
</style>
<section class="mappage">

	<center><h2 class="title">The Black List Business Location</h2></center>
	<hello-world></hello-world>
	<!-- Show Bronx Map -->
	<div id="map">Google Map goes here...
		<p></p>
	<!--	<img src="images/TheBronxDowntownDefault-Inkscape.svg" width="300" height="280">  -->
	</div>
	<center><h3 class="title">Business Name</h3></center>
	<center><p>Address</p></center>
		<button type="submit" value="home" ng-click="go('/')">Home</button>
</section>